{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://twitter.com/ayibatonye0"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/ayibatonye-ikemike-561a67135"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/ijawpikin"><img src="{% static 'images/github.svg'%}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="" target="_blank">Ayibatonye Ikemike</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->